<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ForDogs</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Главная страница</div>
<div class="index">
    <h3>Информация</h3>
    <a>Как сделать заказ?
        Чтобы сделать заказ нужно:
        - Определиться с заказом

        - Положить товар в корзину
        - Замерить собаку

        (Как выполнять замеры см."ЗАМЕРИТЬ СОБАКУ"

        в верхнем меню сайта )

        - К каждому товару в корзине в комментарии

        указать размеры, желаемые цвета, породу и

        возраст собаки, особые пожелания

        - Нажать "оформить заказ"

        - Выбрать необходимый способ доставки
        
        </a>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>